.cart-page-header {
    padding: 15px;
    margin-bottom: 15px;
    
  }
  .cart-header-notice {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .cart-header-text {
    display: inline-block;
    margin-right: 3px;
  }
  .cart-header-icon {
    width: 23px;
    height: 23px;
    margin-right: 3px;
    display: inline-block;
    position: relative;
    background: #6aca6b;
    border-radius: 50%;
  
  }

  .cart-order-received {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .order-received-col {
    width: calc(30% - 15px);
    padding: 0 10%;
    margin-bottom: 25px;
    display: inline-block;
    border-right: 1px solid #cfcaca;
  }

  .bold-text {
    font-weight: 700;
  }
  span {
    display: inline-block;
  }

 .gobackbutton {
     position: absolute;
     border: none;
     display: block;
     text-align: center;
     cursor: pointer;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     color: #fff;
     font-weight: 700;
     font-size: 15px;
     background-color: #222;
     padding: 17px 60px;
     margin: 0 auto;
    left: 39%;

     
     box-shadow: 0 5px 15px rgba(0,0,0,0.20);
 }
 
 .gobackbutton:hover{
     color: #96a2b2;
 }
 @media (max-width:767px)
 {
   .cart-page-header
   {
        padding: 15px;
    margin-bottom: 15px;
    
   }
   .order-received-col {
    width: calc(30% - 15px);
    padding: 0 30%;
    margin-bottom: 25px;
    display: inline-block;
    border-right: 1px solid #cfcaca;
  }
 }