@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Tajawal&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
    background-color: #20202F
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
  overflow: hidden;
  transform: translate(0,0);
}

.inner_header {
    width: 70%;
    height: 100%;
    transform: translate(0,0);
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  font-weight: 50;
}



.logo_container h1 span {
  font-weight: 800;
}
.snake1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 1px;
    background: linear-gradient(to right, rgb(92, 209, 186), rgb(175, 96, 209));
  animation: animate-bottom 4s linear infinite;
}
.snake2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 1px;
    background: linear-gradient(to right, rgb(175, 96, 209), rgb(92, 209, 186));
  animation: anim2 4s linear infinite;
}

@keyframes animate-bottom {
  0% {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}
@keyframes anim2 {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(100%);}
}
