ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
a {
	text-decoration: none;
	font-size: 15px;
}
    
	a:hover {
		text-decoration: underline;
	}
.catname{
    color: white;
}
p, span{
	color: #fff;
}
.icon {
	font-size: 25px;
}

.chkbox{
    left: 5%;
    top: 90.4%;
}

    .categories p {
        margin: 0;
        display: inline-block;
        font-size: 16px;
    }
    .categories a {
        display: block;
        line-height: 58px;
        border-bottom: 1px solid #1f253d;
        -webkit-transition: background .3s;
        transition: background .3s;
    }


    
        .categories a:hover {
            background: #50597b;
        }
       .categories a:hover .name {
            color: #e64c65;
        }
        .categories a:hover .name {
            color: #e64c65;
        }
       .categories-name {
            padding-left: 20px;
        }

       